@page "/ModifyStoreInfo/{Id}/{Name}/{City}/{Address}/{Supervisor}/{Phone}/{Email}"
@inject NavigationManager Nav
@inject HttpClient Http

<h3>ModifyStoreInfo: Work in progress</h3>
<div class="col-auto py-3">
    <button type="button" class="btn-primary" @onclick=@(() => Nav.NavigateTo("/BrowseStore/{id}"))>Browse Store</button>
</div>

<EditForm Model="Model" OnSubmit="Modify">
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="StoreName">Store Name</label>
                <InputText type="text" @bind-value="Name" class="form-control" id="StoreName" placeholder="@Name" required></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="City">City</label>
                <InputText type="text" @bind-value="City" class="form-control" id="City" placeholder="@City" required></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Address">Address</label>
                <InputText type="text" @bind-value="Address" class="form-control" id="Address" placeholder="@Address"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Supervisor">Supervisor</label>
                <InputText type="text" @bind-value="Supervisor" class="form-control" id="Supervisor" placeholder="@Supervisor"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Phone">Phone number</label>
                <InputText type="text" @bind-value="Phone" class="form-control" id="Phone" placeholder="@Phone"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Email">Email</label>
                <InputText type="text" @bind-value="Email" class="form-control" id="Email" placeholder="@Email"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <button type="submit" @onclick="async () => await Modify()" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <h4>@Message</h4>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public required string Id { get; set; }

    [Parameter]
    public required string Name { get; set; }

    [Parameter]
    public required string City { get; set; }

    [Parameter]
    public required string Address { get; set; }

    [Parameter]
    public required string Supervisor { get; set; }

    [Parameter]
    public required string Phone { get; set; }

    [Parameter]
    public required string Email { get; set; }

    public Store? Model { get; set; }

    public required string Message = string.Empty;

    private async Task Modify()
    {
        return;
    }

}
